* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .nav {
    padding: 14px 20px;
    background-color: #dbdbe4;
    font-size: 1.4rem;
  }
  
  .nav__list {
    list-style: none;
    /*height: 300px;*/
    padding: 0;
    border: 5px solid #000000;
